.header
.main
  - @docs.each do |doc|
  
    .links
      - doc.css('ul > li > div > div.block-content > span > a > img').each do |link|
        テッククランチ
        .img
          = link_to link[:href] do
            = image_tag link["data-src"]
        .link
          = link_to link[:href] do
            = link[:alt]

    .links
      - doc.css('body > main > div.l-generalContent-primary.-main.-withSecondary > div > ul > li > article > p > a > img').each do |link|
        ギズモード
        .img
          = link_to "https://www.gizmodo.jp#{link[:href]}" do
            = image_tag link["data-src"]
        .link
          = link_to "https://www.gizmodo.jp#{link[:href]}" do
            = link[:alt]

    -# .electrek
    -#   - doc.css('#content > article > div > h1 > a').each do |link|
    -#     .gizmodo__links
    -#       electrik
    -#       = link_to link[:href] do
    -#         = link.text
    -# .tesmanian
    -#   - doc.css('.shopify-section > div > div > div > div > div > div.twelve.columns > h3 > a').each do |link|
    -#     .gizmodo__links
    -#       テスラ
    -#       = link_to link[:href] do
    -#         = link.text
    -# .macrumors
    -#   - doc.css('#root > div > div:nth-child(5) > div.wrapper--20Awsb5E > div.main--3s50rdtq > article > div.titlebar--3N4MCKxL > h1 > a').each do |link|
    -#     .gizmodo__links
    -#       MacRumors
    -#       = link_to link[:href] do
    -#         = link.text
    -# .towords
    -#   - doc.css('#root > div > div.t.n.u > div.ae.at > div > div > div > div > div > div.cp.ae > div.z.ae > div > section > div > h1 > a').each do |link|
    -#     .gizmodo__links
    -#       towords
    -#       = link_to "https://towardsdatascience.com#{link[:href]}" do
    -#         = link.text
.footer

