.container
  .top
    .siteName
      %span.name GIZMODO
  .contents
    - @docs[1].css('body > main > div.l-generalContent-primary.-main.-withSecondary > div > ul > li > article > p > a > img').each do |link|
      .links
        .img
          = link_to "https://www.gizmodo.jp#{link.parent[:href]}" do
            = image_tag link["data-src"], class: "imageSize"
        .link
          = link_to "https://www.gizmodo.jp#{link.parent[:href]}", class: "linkText" do
            = link[:alt]

.scroller-status{:style => "display: block;"}
  .loader-ellips.infinite-scroll-request{:style => "display: none;"}
    %span.loader-ellips__dot
    %span.loader-ellips__dot
    %span.loader-ellips__dot
    %span.loader-ellips__dot
  %p.scroller-status__message.infinite-scroll-last{:style => "display: block;"} End of content
  %p.scroller-status__message.infinite-scroll-error{:style => "display: none;"} No more pages to load

.next
  = link_to "NEXT",  page3_links_path, class: "nextPage"

